kill_signal = "SIGINT"
kill_timeout = 5
processes = []

[build]
  builder = "paketobuildpacks/builder:full"

[mounts]
source = "myapp_data"
destination = "/workspace/data"

[env]
  APP_ENV = "production"
  FLASK_DEBUG = "false"
  BOT_NAME = "ちいかわ"
  BOT_PROFILE = "「ワッ」「ヤー」「フ！」などのわずかな言葉しか発しない。"

[experimental]
  auto_rollback = true

[[services]]
  http_checks = []
  internal_port = 5000
  force_https = true
  processes = ["app"]
  protocol = "tcp"
  script_checks = []
  [services.concurrency]
    hard_limit = 1
    soft_limit = 1
    type = "connections"
  [[services.ports]]
    handlers = ["http"]
    port = 80
  [[services.ports]]
    handlers = ["tls", "http"]
    port = 443